<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ojbk.mappers.PaylistMapper">
  <resultMap id="BaseResultMap" type="com.ojbk.entity.Paylist">
    <!--@mbg.generated-->
    <!--@Table paylist-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="userid" jdbcType="BIGINT" property="userid" />
    <result column="total" jdbcType="DECIMAL" property="total" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="tradeno" jdbcType="LONGVARCHAR" property="tradeno" />
    <result column="datetime" jdbcType="BIGINT" property="datetime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, userid, total, `status`, tradeno, `datetime`
  </sql>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update paylist
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="userid = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.userid,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="total = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.total,jdbcType=DECIMAL}
        </foreach>
      </trim>
      <trim prefix="`status` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.status,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="tradeno = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.tradeno,jdbcType=LONGVARCHAR}
        </foreach>
      </trim>
      <trim prefix="`datetime` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.datetime,jdbcType=BIGINT}
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=BIGINT}
    </foreach>
  </update>
  <update id="updateBatchSelective" parameterType="java.util.List">
    <!--@mbg.generated-->
    update paylist
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="userid = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.userid != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.userid,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="total = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.total != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.total,jdbcType=DECIMAL}
          </if>
        </foreach>
      </trim>
      <trim prefix="`status` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.status != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.status,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="tradeno = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.tradeno != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.tradeno,jdbcType=LONGVARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="`datetime` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.datetime != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.datetime,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=BIGINT}
    </foreach>
  </update>
  <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into paylist
    (userid, total, `status`, tradeno, `datetime`)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.userid,jdbcType=BIGINT}, #{item.total,jdbcType=DECIMAL}, #{item.status,jdbcType=INTEGER}, 
        #{item.tradeno,jdbcType=LONGVARCHAR}, #{item.datetime,jdbcType=BIGINT})
    </foreach>
  </insert>
  <insert id="insertOrUpdate" keyColumn="id" keyProperty="id" parameterType="com.ojbk.entity.Paylist" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into paylist
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      userid,
      total,
      `status`,
      tradeno,
      `datetime`,
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      #{userid,jdbcType=BIGINT},
      #{total,jdbcType=DECIMAL},
      #{status,jdbcType=INTEGER},
      #{tradeno,jdbcType=LONGVARCHAR},
      #{datetime,jdbcType=BIGINT},
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id,jdbcType=BIGINT},
      </if>
      userid = #{userid,jdbcType=BIGINT},
      total = #{total,jdbcType=DECIMAL},
      `status` = #{status,jdbcType=INTEGER},
      tradeno = #{tradeno,jdbcType=LONGVARCHAR},
      `datetime` = #{datetime,jdbcType=BIGINT},
    </trim>
  </insert>
  <insert id="insertOrUpdateSelective" keyColumn="id" keyProperty="id" parameterType="com.ojbk.entity.Paylist" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into paylist
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userid != null">
        userid,
      </if>
      <if test="total != null">
        total,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="tradeno != null">
        tradeno,
      </if>
      <if test="datetime != null">
        `datetime`,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=BIGINT},
      </if>
      <if test="total != null">
        #{total,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="tradeno != null">
        #{tradeno,jdbcType=LONGVARCHAR},
      </if>
      <if test="datetime != null">
        #{datetime,jdbcType=BIGINT},
      </if>
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id,jdbcType=BIGINT},
      </if>
      <if test="userid != null">
        userid = #{userid,jdbcType=BIGINT},
      </if>
      <if test="total != null">
        total = #{total,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=INTEGER},
      </if>
      <if test="tradeno != null">
        tradeno = #{tradeno,jdbcType=LONGVARCHAR},
      </if>
      <if test="datetime != null">
        `datetime` = #{datetime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
</mapper>