<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ojbk.mappers.UserSubscribeLogMapper">
  <resultMap id="BaseResultMap" type="com.ojbk.entity.UserSubscribeLog">
    <!--@mbg.generated-->
    <!--@Table user_subscribe_log-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="subscribe_type" jdbcType="VARCHAR" property="subscribeType" />
    <result column="request_ip" jdbcType="VARCHAR" property="requestIp" />
    <result column="request_time" jdbcType="TIMESTAMP" property="requestTime" />
    <result column="request_user_agent" jdbcType="LONGVARCHAR" property="requestUserAgent" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, user_name, user_id, email, subscribe_type, request_ip, request_time, request_user_agent
  </sql>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update user_subscribe_log
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="user_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.userName,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="user_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.userId,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="email = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.email,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="subscribe_type = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.subscribeType,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="request_ip = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.requestIp,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="request_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.requestTime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="request_user_agent = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.requestUserAgent,jdbcType=LONGVARCHAR}
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=INTEGER}
    </foreach>
  </update>
  <update id="updateBatchSelective" parameterType="java.util.List">
    <!--@mbg.generated-->
    update user_subscribe_log
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="user_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.userName != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.userName,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="user_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.userId != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.userId,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="email = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.email != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.email,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="subscribe_type = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.subscribeType != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.subscribeType,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="request_ip = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.requestIp != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.requestIp,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="request_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.requestTime != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.requestTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="request_user_agent = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.requestUserAgent != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.requestUserAgent,jdbcType=LONGVARCHAR}
          </if>
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=INTEGER}
    </foreach>
  </update>
  <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into user_subscribe_log
    (user_name, user_id, email, subscribe_type, request_ip, request_time, request_user_agent
      )
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.userName,jdbcType=VARCHAR}, #{item.userId,jdbcType=INTEGER}, #{item.email,jdbcType=VARCHAR}, 
        #{item.subscribeType,jdbcType=VARCHAR}, #{item.requestIp,jdbcType=VARCHAR}, #{item.requestTime,jdbcType=TIMESTAMP}, 
        #{item.requestUserAgent,jdbcType=LONGVARCHAR})
    </foreach>
  </insert>
  <insert id="insertOrUpdate" keyColumn="id" keyProperty="id" parameterType="com.ojbk.entity.UserSubscribeLog" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into user_subscribe_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      user_name,
      user_id,
      email,
      subscribe_type,
      request_ip,
      request_time,
      request_user_agent,
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      #{userName,jdbcType=VARCHAR},
      #{userId,jdbcType=INTEGER},
      #{email,jdbcType=VARCHAR},
      #{subscribeType,jdbcType=VARCHAR},
      #{requestIp,jdbcType=VARCHAR},
      #{requestTime,jdbcType=TIMESTAMP},
      #{requestUserAgent,jdbcType=LONGVARCHAR},
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id,jdbcType=INTEGER},
      </if>
      user_name = #{userName,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      email = #{email,jdbcType=VARCHAR},
      subscribe_type = #{subscribeType,jdbcType=VARCHAR},
      request_ip = #{requestIp,jdbcType=VARCHAR},
      request_time = #{requestTime,jdbcType=TIMESTAMP},
      request_user_agent = #{requestUserAgent,jdbcType=LONGVARCHAR},
    </trim>
  </insert>
  <insert id="insertOrUpdateSelective" keyColumn="id" keyProperty="id" parameterType="com.ojbk.entity.UserSubscribeLog" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into user_subscribe_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="subscribeType != null">
        subscribe_type,
      </if>
      <if test="requestIp != null">
        request_ip,
      </if>
      <if test="requestTime != null">
        request_time,
      </if>
      <if test="requestUserAgent != null">
        request_user_agent,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="subscribeType != null">
        #{subscribeType,jdbcType=VARCHAR},
      </if>
      <if test="requestIp != null">
        #{requestIp,jdbcType=VARCHAR},
      </if>
      <if test="requestTime != null">
        #{requestTime,jdbcType=TIMESTAMP},
      </if>
      <if test="requestUserAgent != null">
        #{requestUserAgent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="subscribeType != null">
        subscribe_type = #{subscribeType,jdbcType=VARCHAR},
      </if>
      <if test="requestIp != null">
        request_ip = #{requestIp,jdbcType=VARCHAR},
      </if>
      <if test="requestTime != null">
        request_time = #{requestTime,jdbcType=TIMESTAMP},
      </if>
      <if test="requestUserAgent != null">
        request_user_agent = #{requestUserAgent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>